<h3>Search Results</h3>

<section class="nearest-station">
  <p>Nearest Station: <%= @station[:station_name] %></p>
  <p>Address: <%= @station[:street_address] %> <%= @station[:city] %> <%= @station[:state] %></p>
  <p>Fuel Type: <%= @station[:fuel_type_code] %></p>
  <p>Access Times: <%= @station[:access_days_time] %></p>
</section>